* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  background: url(assets/home.png) no-repeat var(--black);
  background-repeat: no-repeat;
  background-position: unset;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

:root {
  --fontSizeSmall: 13px;
  --fontSizeMedium: 20px;
  --fontSizeLarge: 36px;
  --fontSizeXLarge: 42px;
  --black: #070609;
  --white: #fff;
  --mainGap: 30px;
  --blueColor: #426FEC;
  --containerWidth: 1200px;
  --lightBlack: #080709;
  --lightGrey: #0C0B10;
  --darkGrey: #070707;
  --smallGap: 20px;
  --smallCardHeight: 100px;
  --defaultMarginTop: 70px;
  --defaultBorder: 1px solid rgb(33, 25, 25);
  --mediumGrey: #1C192E;
}


.home--btn {
  background-color: var(--blueColor);
  color: white;
  padding: 20px 80px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: medium;
}

.home--btn__small {
  background-color: var(--blueColor);
  color: white;
  padding: 10px 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}